﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Dawood Jamil Bari" content="Profolio">
    <meta name="description" content="">

    <title>Dawood Jamil | Portfolio & Resume</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="/Content/css/animate.css">
    <link rel="stylesheet" href="/Content/css/main.css">
    <link rel="stylesheet" href="/Content/css/responsive.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Sacramento" rel="stylesheet">

    <!-- icons -->
    <link rel="icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../images/ico/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../images/ico/apple-touch-icon-114-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../images/ico/apple-touch-icon-72-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../images/ico/apple-touch-icon-57-precomposed.html">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="main-wrapper home-one">
        
        

       @{ 
           Html.RenderPartial("_Nav");
       }


          
    <!-- home-banner -->
        @{

            Html.RenderPartial("_Home");

        }

        <!--About Section-->
        @{

            Html.RenderPartial("_About");

        }

        <!--Skill Section-->
        @{

            Html.RenderPartial("_Skill");

        }


        @{
            Html.RenderPartial("_Experience");
        }

        @{
            Html.RenderPartial("_Education");
        }


        @{ 
            Html.RenderPartial("_Portfolio");

         }


         @{ 
             Html.RenderPartial("_Contact");

         }


         @{ 
             Html.RenderPartial("_Profile");
         }


    </div><!-- main wrapper -->
    <!-- JS -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <script src="~/Scripts/js/counterup.min.js"></script>
    <script src="~/Scripts/js/inview.min.js"></script>
    <script src="~/Scripts/js/easypiechart.js"></script>
    <script src="~/Scripts/js/magnific-popup.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-73239902-1', 'auto');
          ga('send', 'pageview');
    </script>
</body>
</html>