﻿
@{ 
    var _context = new ResumeEntities();
    var socialLinks = _context.SocialLinks.ToList();
}
<div id="navigation" class="menu-one">
    <div class="navbar navbar-expand-lg fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand logo">
                <a href="Index"><img class="img-fluid" src="../Content/images/logo.png" alt="Image"></a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
        </button>

        <nav id="navbar-collapse" " class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="scroll current dropdown">
                    <a href="#home-banner">
                        <span><i class="fa fa-hand-peace-o" aria-hidden="true"></i>Home</span>
                    </a>
                </li>
                <li class="scroll">
                    <a href="#about">
                        <span><i class="fa fa-user-secret" aria-hidden="true"></i>About me</span>
                    </a>
                </li>
                <li class="scroll">
                    <a href="#skill">
                        <span><i class="fa fa-sliders" aria-hidden="true"></i>Skills</span>
                    </a>
                </li>
                <li class="scroll">
                    <a href="#exprience">
                        <span><i class="fa fa-briefcase" aria-hidden="true"></i>Experience</span>
                    </a>
                </li>
                <li class="scroll">
                    <a href="#education">
                        <span><i class="fa fa-leanpub" aria-hidden="true"></i>Education</span>
                    </a>
                </li>
                <li class="scroll">
                    <a href="#portfolio">
                        <span><i class="fa fa-picture-o" aria-hidden="true"></i>Portfolio</span>
                    </a>
                </li>
                <li class="scroll">
                    <a href="#contact">
                        <span><i class="fa fa-volume-control-phone" aria-hidden="true"></i>Contact</span>
                    </a>
                </li>
                @*<li class="scroll">
                        <a href="#blog">
                            <span><i class="fa fa-file-text-o" aria-hidden="true"></i>Blog</span>
                        </a>
                    </li>*@
                <li class="scroll">
                    <a href="#profile">
                        <span><i class="fa fa-floppy-o" aria-hidden="true"></i>My Resume.pdf</span>
                    </a>
                </li>
                <li>
                    <ul class="social list-inline">
                        @foreach (var item in socialLinks)
                        {
                            <li class="list-inline-item"><a href="@item.Link"><i class="@item.Icon_Class" aria-hidden="true"></i></a></li>
                        }


                    </ul>
                </li>
            </ul>
        </nav>
    </div><!-- navbar -->
</div>

