﻿@model CV.ViewModel.ProjectsViewModel
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Management</title>

    <!-- Custom fonts for this template-->
    <link href="../../Content/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../Content/Admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <h1>Add Project</h1>

    @using (Html.BeginForm("SaveProject", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ProjectsViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Project_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Project_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Project_Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tech_Used, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tech_Used, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tech_Used, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.Status) Online Or Not?
                </label>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                   <input type="file" name="file" value="@Model.Image" />
                </div>
                @if (Model.Image!=null)
                {
                    <div>
                        <img src="~/Content/PortfolioImages/@Model.Image" width="100" height="100" class="about-img" />
                    </div>
                }

            </div>

            @Html.HiddenFor(m=>m.Id)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    }











    <!-- Bootstrap core JavaScript-->
    <script src="../../Content/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../Content/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../Scripts/Admin/js/sb-admin-2.min.js"></script>

</body>

</html>


