﻿@model IEnumerable<CV.Project>
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Management</title>

    <!-- Custom fonts for this template-->
    <link href="../../Content/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../Content/Admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <h1>Projects</h1>

    <br />

    <div class="col-md-3">
        <a style="color:#fff;" href="@Url.Action("ProjectForm","Admin")" class="btn-link btn-primary btn-lg">Add New</a>

        <hr class="sidebar-divider" />

        <table class="table table-bordered table-responsive">

            <thead>
                <tr>
                    <td><b>Project Name</b></td>
                    <td><b>Technology Used</b></td>
                    <td><b>Status</b></td>
                    <td><b>Delete</b></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.Project_Name,"EditProject","Admin",new { id=item.Id},null)</td>
                            <td>@item.Tech_Used</td>
                            <td>@item.Status</td>
                            <td>@Html.ActionLink("Delete","DeleteProject","",new {id=item.Id},null)</td>
                        </tr>
                    }

                }

            </tbody>

        </table>




    </div>




    <!-- Bootstrap core JavaScript-->
    <script src="../../Content/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../Content/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../Scripts/Admin/js/sb-admin-2.min.js"></script>

</body>

</html>


