﻿
@{
    ViewBag.Title = "Reume";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Upload CV</title>

    <!-- Custom fonts for this template-->
    <link href="../../Content/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../Content/Admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

     <h1>Upload CV</h1>
     @using (Html.BeginForm("Resume", "Admin",FormMethod.Post, new { @enctype ="multipart/form-data"}))
     {
         <input type="file"  name="file"/>

         <input type="submit" class="btn btn-primary" value="Save" />


     }










    <!-- Bootstrap core JavaScript-->
    <script src="../../Content/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../Content/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../Scripts/Admin/js/sb-admin-2.min.js"></script>

</body>

</html>


